@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    background-color: #E4C9A0;
    margin-bottom: 0px;
}

footer.footer{
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../imageco/Acceuil1.png);
        background-size: cover;
        background-position: 75% 75%;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



.search-container {
    align-content: center;
    background-color: #A08D70; 
    height: 155;
    width: 1128;
    padding-bottom: 50‒;
    padding-bottom: 80px;
     

.col{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}


.form-control{
    background-color: #4A5554; 
    color: white;
    border: none;
    padding: 10px;
    height: 30px;
    width: 250px;
}
}

.test{
    padding-top: 30px;
    padding-bottom: 15px;
}

.test2{
    padding-top: 15px;
    padding-bottom: 30px;
}

.cherch{
    padding-top: 30px;
    padding-bottom: 15px;
}

.form-label{
    color: $primary;
}